@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row:before,
.row:after {
    content: "";
    display: table;
    clear: both;
}

[class*="col-"] {
    float: left;
    min-height: 1px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.col-offset-1 {
    margin-left: 8.33%;
}

.col-offset-2 {
    margin-left: 16.66%;
}

.col-offset-3 {
    margin-left: 25%;
}

.col-offset-4 {
    margin-left: 33.33%;
}

.col-offset-5 {
    margin-left: 41.66%;
}

.col-offset-6 {
    margin-left: 50%;
}

.col-offset-7 {
    margin-left: 58.33%;
}

.col-offset-8 {
    margin-left: 66.66%;
}

.col-offset-9 {
    margin-left: 75%;
}

.col-offset-10 {
    margin-left: 83.33%;
}

.col-offset-11 {
    margin-left: 91.66%;
}


/*Global Styles */

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.underline::after {
    content: "";
    display: block;
    border: 1px solid #ed145b;
    width: 200px;
    margin: 38px auto;
}

.red-btn {
    background-color: #ed145b;
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    font: 700 16px/38px Lato;
    color: #fff;
    cursor: pointer;
    transition: transform 1s;
}

.red-video {
    font: 700 15px/30px Lato;
    color: #ed145b;
    text-transform: uppercase;
    border: none;
    background-color: transparent;
}

.section-header {
    font: italic 400 38px/52px Lato;
    color: #5a5a5a;
    padding-top: 140px;
    text-align: center;
}

.paragraph {
    font: 300 15px/30px Lato;
    color: #5a5a5a;
    max-width: 640px;
    text-align: center;
    margin: 0 auto;
}



/*Header Section */

header {
    height: 100vh;
    background: url(./img/header-bg.jpg) #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

nav {
    position: relative;
    top: 40px;
}

nav ul {
    float: right;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font: 700 16px/38px Lato;
    margin-left: 16px;
    transition: color .4s;
}

nav ul li a:hover {
    color: #ed145b;
}

.header-content {
    color: #fff;
    text-align: center;
    margin-top: 23%;
}

header h1 {
    text-transform: uppercase;
    font: 300 46px Lato;
}

header span {
    font-weight: 600;
}

header p {
    font: 300 22px Lato;
    margin-bottom: 66px;
}


/* About Us */

#aboutUs {
    background-color: #f4f4f4;
    position: relative;
}

.triangle::before {
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    border-left: 95vw solid #ed145b;
    border-bottom: 20px solid transparent;
}

.about img {
    position: absolute;
    top: 125px;
    right: 20px;
    max-width: 100%;
    height: auto;
    display: block;
}

.about>div {
    max-width: 23vw;
}

.about .section-header {
    max-width: 370px;
    text-align: left;
}

.about .section-header::after {
    margin-left: 0;
}

.about .underline {
    margin-left: 0;
}

.about .paragraph {
    max-width: 440px;
    text-align: left;
    margin-left: 0;
}

.about .red-video {
    margin: 40px 0 80px;
    cursor: pointer;
}

.about i {
    border: 1px solid #ed145b;
    border-radius: 50%;
    height: 27px;
    width: 27px;
    font-size: 12px;
    line-height: 26px;
    margin-left: 10px;
    padding-left: 3px;
    transition: transform 1s;
}

.about button:hover i {
    transform: scale(1.3);
}


/* Services */

.services>div>div {
    margin-bottom: 110px;
    cursor: pointer;
    text-align: center;
}

.services>div>div:hover .circle {
    transform: scale(1.1);
}

.circle {
    width: 130px;
    height: 130px;
    margin: 80px auto 30px;
    border: 1px solid #b4b4b4;
    border-radius: 50%;
    position: relative;
    transition: transform 1s;
}

.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*Quotes */

.quote {
    background: url(./img/quotes.png) #000;
    background-position: center;
    height: 500px;
    position: relative;
}

.quote p {
    padding: 4% 7%;
    text-align: center;
    font: italic 300 25px/40px Lato;
    color: #FFF;
}

.arrows {
    /* width: 99vw; */
    color: #8e8e8e;
    font-size: 40px;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translateY(-50%);
    left: 18vw;
    right: 18vw;
    margin: auto;
}

.arrows img:first-of-type {
    /* margin-right: 45vw; */
    float: left;
}

.arrows img:last-of-type {
    /* margin-right: 380px; */
    float: right;
}

.quote div:nth-child(2) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote img {
    margin: 0 auto;
    display: block;
}


/* Prices */

#prices {
    background-color: #f4f4f4;
    min-height: 1000px;
}

.offer>div>div {
    background-color: #fff;
    width: 262px;
    margin: 0 auto;
}

.offer>div {
    background-color: #f4f4f4;
    position: relative;
    margin: 80px 0 30px;
}

.offer>div:hover .grey_box {
    background-color: #ed145b;
}

.offer .grey_box {
    height: 150px;
    text-align: center;
    background-color: #5a5a5a;
    transition: background-color 1s;
    padding-top: 15px;
}

.grey_box p {
    font: 700 20px Lato;
    color: #f4f4f4;
}

.grey_box p span {
    font-size: 50px;
}

.grey_box p:last-of-type {
    font-size: 15px;
    line-height: 10px;
}

.grey_box .red-btn {
    background-color: #f4f4f4;
    color: #5a5a5a;
    pointer-events: none;
    display: block;
    margin: 0 auto;
    position: absolute;
    top: 126px;
    left: 0;
    right: 0;
}

.white_box {
    height: 315px;
}

.white_box ul {
    list-style-type: none;
    padding: 50px 0 30px;
    font: 300 15px/38px Lato;
    color: #5a5a5a;
    text-align: center;
    background-color: #FFF;
}


/* Additional1 */

.additional1>div:first-of-type {
    margin-top: 145px;
    margin-bottom: 75px;
}

.additional1>div:last-of-type {
    margin-bottom: 120px;
}

.additional1>div>div {
    padding-right: 30px;
}

.additional1 img {
    float: left;
    width: 57px;
    margin: 0 20px 80px 0;
}

.additional1 h3 {
    line-height: 15px;
    margin-bottom: 18px;
}

.additional1 p {
    text-align: left;
    width: 262px;
}


/* Join Us */

.join-us {
    background-color: #ed145b;
    height: 200px;
}

.join-us .container {
    padding: 0;
}

.join-us h4 {
    font: 300 38px/52px Lato;
    color: #fff;
    text-transform: uppercase;
    margin-top: 80px;
}

.join-us h4 span {
    font-weight: 700;
}

.join-us .red-btn {
    margin-top: 80px;
    color: #ed145b;
    background-color: #FFF;
    margin-left: 30px;
}


/* GALLERY */

.gallery>p {
    margin-bottom: 97px;
}

.gallery-box {
    background-color: #f4f4f4;
    overflow: hidden;
    margin: 0 30px 60px 0;
    width: 360px;
    min-height: 390px;
}

.gallery-box:last-of-type {
    margin-right: 0;
}

.gallery-box h5,
.gallery-box p {
    font: 300 15px/30px Lato;
    padding: 0 28px;
    color: #5a5a5a;
}

.gallery-box h5 {
    text-transform: uppercase;
    font-weight: 400;
    margin: 15px 0;
}

.box-layer {
    position: relative;
    overflow: hidden;
    height: 250px;
    cursor: pointer;
}

.box-layer>img {
    position: absolute;
}

.box-layer::before {
    content: "";
    background-color: #ed145b;
    width: 200%;
    height: 120%;
    transform: -webkit-rotate(2deg);
    transform: -ms-rotate(2deg);
    transform: rotate(2deg);
    left: -20%;
    top: 0;
    margin-top: 245px;
    transition: .8s ease-in;
    position: absolute;
    z-index: 1;
}

.search-ico {
    background: url("./img/095__search.png");
    height: 45px;
    width: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .8s ease;
    z-index: 2;
}

.gallery-box:hover .search-ico {
    transition-delay: .4s;
    opacity: 1;
}

.gallery-box:hover .box-layer::before {
    margin-top: -20px;
    background-color: rgba(237, 20, 91, .8);
}

.show {
    text-align: center;
    margin: 50px 0 60px;
    cursor: pointer;
}

.show p {
    margin-bottom: -4px;
}

.red-video a {
    text-decoration: none;
    color: #ed145b;
}


/*SHOW MORE */

.quote2 {
    background: url(./img/quotes.png) #000;
    background-position: center;
    height: 500px;
    overflow: hidden;
}


/* CONTACT SECTION */

#contact {
    background-color: #f4f4f4;
    position: relative;
}

.contact-margin {
    padding-left: 50px;
}

#contact h3 {
    text-align: left;
}

#contact p {
    text-align: left;
    padding-right: 45px;
}

#contact .underline::after {
    margin-left: 0;
}

#contact .red-btn {
    margin: 50px 0 160px;
}

#contact img {
    position: absolute;
    top: 70px;
    max-width: 44%;
    height: auto;
    display: block;
    left: 50px;
}


/* FOOTER */

footer {
    padding-top: 60px;
    height: 150px;
    background-color: #2b2b2b;
}

footer div>* {
    display: inline-block;
    color: #FFF;
    font: 400 15px/30px Lato;
}

footer .container div:nth-child(2) {
    text-align: center;
}

footer i {
    color: #ed145b;
}

footer .container div:last-of-type {
    text-align: right;
}

footer span:first-of-type {
    font-weight: 700;
}

footer span:nth-child(2) {
    color: #ed145b;
    font-weight: 700;
}

@media (max-width: 1480px) {
    .about img {
        max-width: 65%;
    }

    .about img, #contact img {
        top: 50%;
        transform: translateY(-50%);
    }

    #contact img {
        left: 40px;
    }
}

@media (max-width: 1200px) {
    .col-md-1 {width: 8.33%;}
    .col-md-2 {width: 16.66%;}
    .col-md-3 {width: 25%;}
    .col-md-4 {width: 33.33%;}
    .col-md-5 {width:41.66%;}
    .col-md-6 {width: 50%;}
    .col-md-7 {width: 58.33%;}
    .col-md-8 {width: 66.66%;}
    .col-md-9 {width: 75%;}
    .col-md-10 {width: 83.33%;}
    .col-md-11 {width: 91.66%;}
    .col-md-12 {width: 100%;}

    header h1 {
        font-size: 38px;
    }

    header p {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .header-content {
        margin-top: 20%;
    }

    .section-header {
        padding-top: 100px;
    }

    .additional1>div {
        max-width: 80vw;
        padding-left: 10px;
    }
    
    .additional1 img {
        max-width: 50%;
    }

    .offer>div>div {
        width: 90%;
    }

    .additional1>div>div {
        padding-right: 25px;
        padding-left: 25px;
    }

    .additional1 p {
        padding-right: 25px;
        max-width: 100%;
    }
        
    .additional1 img {
        margin-bottom: 0;
    }
    
    .join-us h4 {
        float: none;
        margin-top: 55px;
        text-align: center;
        font-size: 36px;
    }

    .join-us .red-btn {
        float: none;
        margin: 0 auto;
    }

    .gallery-box {
        max-width: 100%;
    }
}

@media (max-width: 1000px) and (orientation: landscape) {
    header {
        height: 500px;
    }
}

@media (max-width: 850px) {
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width:41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .container {
        max-width: 750px;
    }

    .about img {
        display: none;
    }

    .about>div {
        max-width: 80vw;
        margin: 0 auto;
    }

    .about .section-header {
        max-width: 100%;
        text-align: center;
    }
        
    .about .section-para {
        max-width: 100%;
        text-align: center;
    }
        
    .about .red-caption {
        margin: 40px auto 0; 
        text-align: center;
        padding-bottom: 80px;
        display: block;
    }

    .about .section-header::after {
        margin-left: auto;
    }

    .circle {
        margin: 0 auto;
    }

    .services .row  {
        margin: 40px auto;
    }

    .services>div>div {
        margin-bottom: 30px;
    }

    .quote p {
        font-size: 20px;
    }

    .red-quotes {
        width: 10%;
    }

    .additional1 img {
        margin-bottom: 80px;
        margin-right: 16px;
        margin-left: 25%;
    }
        
    .additional1>div:first-of-type {
        margin-top: 100px;
        margin-bottom: 0;
    }
        
    .additional1>div>div {
        padding-right: 0;
        margin-bottom: 50px;
    }
    
    .additional1 p {
        padding: 0;
    }
        
    .additional1>div:last-of-type {
        margin-bottom: 21px;
    }

    .join-us h4 {
        margin-top: 35px;
    }

    .gallery-box {
        max-width: 100%;
    }

    .box-layer>img {
        min-width: 100%;
        
    }

    #contact img {
        display: none;
    }

    .contact-margin {
        padding: 20px;
        margin: 0 auto;
    }
    
    #contact h3 {
        text-align: center;
    }
    
    #contact p {
        text-align: center;
        padding-right: 0;
    }
    #contact .underline::after {
        margin-left: auto;
    }
    
    #contact .red-btn {
        margin: 50px auto 100px;
    }
    
    footer div > * {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .col-xs-1 {width: 8.33%;}
    .col-xs-2 {width: 16.66%;}
    .col-xs-3 {width: 25%;}
    .col-xs-4 {width: 33.33%;}
    .col-xs-5 {width:41.66%;}
    .col-xs-6 {width: 50%;}
    .col-xs-7 {width: 58.33%;}
    .col-xs-8 {width: 66.66%;}
    .col-xs-9 {width: 75%;}
    .col-xs-10 {width: 83.33%;}
    .col-xs-11 {width: 91.66%;}
    .col-xs-12 {width: 100%;}

    .section-header {
        font-size: 30px;
        line-height: 40px;
        padding-top: 50px;
    }

    nav ul li {
        display: block;
        text-align: right;
    }

    header h1 {
        font-size: 25px;
        text-align: left;
        padding: 20px 0;
    }

    header p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 30px;
    }

    .header-content .underline::after {
        margin-top: 60px;
        margin-bottom: 5px;
    }

    .about>div {
        padding-left: 0;
    }

    .arrows {
        left: 8vw;
        right: 8vw;
    }

    .quote p {
        padding: 0;
        font-size: 18px;
        line-height: 35px;
    }

    .additional1 img {
        margin-left: 0;
    }

    .join-us h4 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 26px;
    }

    footer>.container>div, footer>.container>div:last-of-type {
        text-align: center;
    }

}
